
/* Reset beberapa elemen standar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Gaya untuk Halaman */
body {
    font-family: Arial, sans-serif;
    background-image: url('maht_quiz.jpg'); /* Ganti dengan nama file gambar Anda */
    background-size: cover; /* Menyesuaikan ukuran gambar dengan layar */
    background-repeat: no-repeat; /* Menghindari pengulangan gambar */
    background-position: center; /* Menempatkan gambar di tengah */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.question-area {
    margin-bottom: 20px;
}

#question {
    font-size: 18px;
    margin-bottom: 15px;
    color: #555;
}

input {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}

#feedback {
    margin-top: 10px;
    font-size: 16px;
}